
<div class="row">
   <div class="col-sm-6">
         <h3>NOT COMPLETED TASKS</h3>
         <% @todos.each do |todo| %>
            <% if !todo.completed %>  
               <div class="card card-body bg-light">
                  <%= todo.description %>
               </div>
            <%end%> 
         <% end %>
   </div>

   <div class="col-sm-6">
         <h3>COMPLETED TASKS</h3>
          <% @todos.each do |todo| %>
            <% if todo.completed %>  
               <div class="card card-body bg-light">
                  <%= todo.description %>
               </div>
            <%end%> 
         <% end %>
   </div>

</div>